services:
  tileworkui:
    image: registry.solarspy.net/tilework:latest
    build:
      context: .
      dockerfile: tilework.ui/Dockerfile
    ports:
      - 5180:5180
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
    volumes:
      - tilework_data:/var/lib/tilework
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  tilework_data:
    external: false
