# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP.NET Core service.

services:
  tileworkui:
    image: tilework
    build:
      context: .
      dockerfile: tilework.ui/Dockerfile
    ports:
      - 5180:5180
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock